body {
    background-color: rgb(26, 26, 26);
    /* background-image: url('/images/amr-background-carbon-variant-scaled.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
}

nav {
    background-color: rgba(0, 0, 0, 0.557);
}

nav a {
    opacity: 0;
}

main {
    background-color: rgba(0, 0, 0, 0.557);
    padding-bottom: 2rem;
}

main>section {
    width: min(90%, 40rem);
    margin: auto;
}

p,
h2 {
    padding: 1rem 0rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #deb028;
    line-height: 1.52rem;
    font-family: "Lato", sans-serif;
}

h2 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

a {
    color: white;
}

img {
    max-width: 22rem;
    margin: .75rem 0rem;
    transform: scale(4.5);
    opacity: 0;
}